@font-face {
    font-family: 'Varela Round';
    src: url(fonts/VarelaRound-Regular.ttf)
}  
.bg-image {
    padding: 0;
    margin: 0;
    color: #000;

    position:absolute; 
    top:0; height:100%; width:100%;
    left:0;

    background-image: url(./background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
  

.main {
    font-family: 'Varela Round';
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

a {
    padding-right: 1em;
}

.icons {
    float: left;
    padding-top: 4em;
}

.image {
    float: right;
}

.top {
    border-bottom: 3px solid #f1f1f1;
    border-style: none none dotted none;
}